.character-container {
  display: flex;
  justify-content: center;
  margin: 80px 0 50px 0;
  flex-direction: column;
  font: 400 14px/1.2 "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #202020;
}
