.character-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 119px;
  flex-direction: column;
  font: 400 14px/1.2 "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #202020;
}
