.card-container {
  width: 90%;
  display: flex;
  margin: 15px auto;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column; }
  .card-container .info-container {
    display: flex; }
    .card-container .info-container .img-container {
      overflow: hidden;
      height: 500px; }
      .card-container .info-container .img-container > img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        transition: 0.2s;
        object-fit: cover; }
        .card-container .info-container .img-container > img:hover {
          transform: scale(1.2); }
    .card-container .info-container .details-container {
      text-transform: uppercase;
      width: 40%;
      padding: 10px 57px; }
      .card-container .info-container .details-container > h1 {
        font-size: 28px; }
  .card-container .aditional-info-container {
    display: flex;
    flex-direction: row;
    margin: 0 40px 35px 40px; }
    .card-container .aditional-info-container .show-info-container {
      width: 50%;
      padding: 0 5px 0 5px; }
      .card-container .aditional-info-container .show-info-container > li {
        margin-top: 8px; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.character-container {
  display: flex;
  justify-content: center;
  margin: 80px 0 50px 0;
  flex-direction: column;
  font: 400 14px/1.2 "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #202020; }

li {
  list-style: none; }

.comic-container {
  display: flex;
  justify-content: center;
  margin: 80px 0 50px 0;
  flex-direction: column;
  font: 400 14px/1.2 "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #202020; }

.go-back-button {
  width: 20%;
  display: inline-block;
  margin: 10px 0 20px 20px;
  font: 400 14px/1.2 "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  background-color: #e62429;
  height: 36px;
  border-radius: 38px 0px;
  cursor: pointer; }
  .go-back-button:focus {
    outline: none; }
  .go-back-button:hover {
    background-color: #9f0013; }

.shortCard-container {
  width: 15%;
  height: 450px;
  margin: 0px 24px;
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .shortCard-container:hover > h1 {
    color: #e62429; }
  .shortCard-container > h1 {
    font-size: 18px;
    height: 30%;
    font-weight: lighter; }
  .shortCard-container:hover {
    transform: translateY(-12px); }
  .shortCard-container .shortCard-img {
    height: 70%;
    box-shadow: 0 26px 24px -16px grey;
    margin: 19px auto;
    overflow: hidden; }
    .shortCard-container .shortCard-img > img {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
      object-fit: cover;
      object-position: top-center;
      transition: 0.3s;
      cursor: pointer; }
      .shortCard-container .shortCard-img > img:hover {
        transform: scale(1.2); }

.loader {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.cards-pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cards-pagination-container .map-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    font: 400 14px/1.2 "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
    color: #202020; }

.header {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 10%;
  font: 400 14px/1.2 "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  align-items: center;
  background-color: #202020; }
  .header > a {
    font-size: 30px;
    text-decoration: none;
    color: #fff; }
    .header > a.selected {
      color: #e62429; }

.pagination-container {
  padding-bottom: 40px; }
  .pagination-container button {
    font: 400 14px/1.2 "Roboto Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
    padding: 8px 20px;
    margin: 0 6px;
    background-color: #e62429;
    border: none;
    border-radius: 38px 0px;
    cursor: pointer; }
    .pagination-container button:focus {
      outline: none; }
    .pagination-container button:hover {
      background-color: #9f0013; }

.footer {
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column; }
  .footer .footer-content {
    color: white;
    margin-left: 10px; }
    .footer .footer-content a {
      color: red;
      text-decoration: none; }
  .footer .contact-details {
    display: flex;
    align-items: center;
    margin: 0 0 10px 10px; }
    .footer .contact-details a {
      margin: 0 5px 0 5px; }
    .footer .contact-details .footer-icon {
      width: 30px;
      color: red;
      cursor: pointer;
      transition: 0.3s; }
      .footer .contact-details .footer-icon.github-icon {
        width: 22px; }

/*# sourceMappingURL=main.css.map */
